PORT=3000
LISTEN_ADDR=localhost

ANCHR_DB_USER=anchr
ANCHR_DB_PASSWORD=
ANCHR_DB_HOST=localhost
ANCHR_DB_PORT=27017
ANCHR_DB_NAME=anchr

ANCHR_UPLOAD_DIR=/app/data      # Leave like this as is when running with Docker
ANCHR_SECRET=

ANCHR_FB_CLIENT_ID=
ANCHR_FB_SECRET=
ANCHR_GOOGLE_CLIENT_ID=
ANCHR_GOOGLE_SECRET=

ANCHR_GOOGLE_API_KEY=

ANCHR_ALLOW_SIGNUP=true
ANCHR_EXPOSE_METRICS=false