#!/bin/bash

export ANCHR_PORT=''
export ANCHR_DB_URL=''
export ANCHR_UPLOAD_DIR=''
export ANCHR_SECRET=''
export ANCHR_LOG_PATH=''
export ANCHR_ERROR_LOG_PATH=''
export ANCHR_FB_CLIENT_ID=''
export ANCHR_FB_SECRET=''
export ANCHR_GOOGLE_CLIENT_ID=''
export ANCHR_GOOGLE_SECRET=''
export ANCHR_GOOGLE_API_KEY=''