.bg-anchr {
    background-color: #009688;
}

.text-anchr {
    color: #009688;
}

.text-grey {
    color: #444;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.justify-between {
    justify-content: space-between;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.ml-2 {
    margin-left: 8px;
}

.ml-4 {
    margin-left: 16px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-2 {
    margin-top: 16px;
}

.p-2 {
    padding: 8px;
}

.w-1_4 {
    width: 25%;
}

.text-xl {
    font-size: 1.25em;
}

.text-md {
    font-size: 0.9em;
}

.text-white {
    color: #fff;
}

.text-semibold {
    font-weight: 600;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

input {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 6px;
}

select {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 6px;
    background-color: #fff;
}

button {
    padding: 8px 16px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

#alert-container {
    padding: 4px 8px;
    background-color: #c5e1a5;
    border-radius: 2px;
    border: 1px solid #8bc34a;
}

#error-container {
    padding: 4px 8px;
    background-color: #ef9a9a;
    border-radius: 2px;
    border: 1px solid #f44336;
}