<div class="row">

    <div class="col-md-3">
        <strong>{{description}}</strong>
    </div>

    <div class="col-md-4">
        <div class="form-group label-floating" style="margin-top: 15px">
            <div class="input-group">
            <span class="input-group-addon">
              <span class="label label-primary">{{method | uppercase}}</span>
            </span>
                <label class="control-label text-dark" for="{{id}}"><strong>HTTP Request</strong></label>
                <input type="text" id="{{id}}" class="form-control" disabled value="{{url}}">
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group label-floating" style="margin-top: 15px">
            <div class="input-group">
                <label class="control-label text-dark" for="{{id}}.body">
                    <strong>{{section}}</strong>
                </label>
                <code id="{{id}}.body" ng-transclude></code>
            </div>
        </div>
    </div>

</div>