<div class="content-box shadow-z-1">
    <h3 class="text-primary">Imprint</h3>
    <strong>Information in accordance with section 5 Telemediengesetz (TMG):</strong><br><br> Ferdinand Mütsch<br> Vorholzstraße 11<br> 76137 Karlsruhe<br> <img src="images/number.png" style="margin-left: -4px"> <br> mail@ferdinand-muetsch.de
    <br><br><br>

    <h3 class="text-primary">Terms of use</h3>
    By performing any kind of interaction other than reading this "Terms of use" page you agree to our terms and privacy policy.<br> You are not allowed to upload, share or link to anything that:
    <ul>
        <li>is protected by copyright</li>
        <li>could potentially discriminate or harm other people, groups or organizations</li>
        <li>encourages crime or violence</li>
        <li>shows other people's identity without them having agreed to the upload</li>
        <li>contains porn or nudity</li>
        <li>is malicious software</li>
        <li>requires you to circumvent restrictions in this application's code</li>
        <li>can be considered illegal in any other way in your country</li>
    </ul>
    Further you are not allowed to use Anchr.io for hosting images or turn it into a content delivery network in any other way. If you are not sure if something might potentially be illegal please do not upload, share or link to it. If you act in any way
    described above as well as in any other illegal way on this site, we will ban you, delete your content and report you to the authorities. Anchr.io's operators are not liable for any content that is uploaded, shared or linked to using this web application.<br><br>

    <h3 class="text-primary">Privacy</h3>
    Anchr.io's functionality to upload plain images and share links can be used without any registration and therefore especially completely anonymously. The only thing we will record is your IP address when uploading an image. If you sign up and create an
    account we will store your email address, name (in case you sign up using any of the supported 3rd party login providers [Facebook, Google+]) and hashed (and therefore not readable) password. We don't collect any other personally identifiable data.
    From users who consume (read, view) content, we do not collect any personally identifiable information at all.<br> All data including links, images and meta data (user account information, etc.) won't be visible to any other persons than this
    application's operators. Especially we won't publish or transfer any image, links or user information.<br> When uploading images you are given the opportunity to encrypt them using a passphrase. The encryption happens client-sided and using the AES
    algorithm and therefore is stored in the encrypted state on our servers. As a result neither this application's operators nor anyone other you get back the decrypted data without the password. Anchr.io is not liable in case anybody uses unconventional
    decryption methods to get back the plain image data without having the password. Furthermore Anchr.io is not liable in case of malicious attacks on our servers that aim to obtain images, links or user information.<br><br>

    <h3 class="text-primary">Legal notice</h3>
    This page is operated privatly by Ferdinand Mütsch, Karlsruhe, Germany who can be contact via email to mail(at)ferdinand-muetsch.de.
</div>