<div class="content-box shadow-z-1">
    <h3 class="text-primary">Imprint</h3>
    <strong>Information in accordance with section 5 Telemediengesetz (TMG):</strong><br><br>
    Ferdinand Mütsch<br>
    ferdinand@muetsch.io

    <br><br><br>

    <h3 class="text-primary">Terms of use</h3>
    By performing any kind of interaction other than reading this "Terms of use" page you agree to our terms and privacy
    policy.<br> You are not allowed to upload, share or link to anything that:
    <ul>
        <li>is protected by copyright</li>
        <li>could potentially discriminate or harm other people, groups or organizations</li>
        <li>encourages crime or violence</li>
        <li>shows other people's identity without them having agreed to the upload</li>
        <li>contains porn or nudity</li>
        <li>is malicious software</li>
        <li>requires you to circumvent restrictions in this application's code</li>
        <li>can be considered illegal in any other way in your country</li>
    </ul>
    Further you are not allowed to use Anchr.io for hosting images or turn it into a content delivery network in any
    other way. If you are not sure if something might potentially be illegal please do not upload, share or link to it.
    If you act in any way
    described above as well as in any other illegal way on this site, we will ban you, delete your content and report
    you to the authorities. Anchr.io's operators are not liable for any content that is uploaded, shared or linked to
    using this web application.<br><br>

    <h3 class="text-primary">Privacy</h3>
    Anchr.io's functionality to upload plain images and share links can be used without any registration and therefore
    especially completely anonymously. The only thing we will record is your IP address when uploading an image. If you
    sign up and create an
    account we will store your email address, name (in case you sign up using any of the supported 3rd party login
    providers [Facebook, Google+]) and hashed (and therefore not readable) password. We don't collect any other
    personally identifiable data.
    From users who consume (read, view) content, we do not collect any personally identifiable information at all.<br>
    All data including links, images and meta data (user account information, etc.) won't be visible to any other
    persons than this
    application's operators. Especially we won't publish or transfer any image, links or user information.<br> When
    uploading images you are given the opportunity to encrypt them using a passphrase. The encryption happens
    client-sided and using the AES
    algorithm and therefore is stored in the encrypted state on our servers. As a result neither this application's
    operators nor anyone other you get back the decrypted data without the password. Anchr.io is not liable in case
    anybody uses unconventional
    decryption methods to get back the plain image data without having the password. Furthermore Anchr.io is not liable
    in case of malicious attacks on our servers that aim to obtain images, links or user information.<br><br>

    <h3 class="text-primary">Legal notice</h3>
    This page is operated privatly by Ferdinand Mütsch, Karlsruhe, Germany who can be contact via email to
    mail(at)ferdinand-muetsch.de.<br><br>

    <h3 class="text-primary">German Privacy Policy (Datenschutzerklärung)</h3>
    Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten
    (nachfolgend kurz „Daten“) innerhalb unseres Onlineangebotes und der mit ihm verbundenen Webseiten, Funktionen und
    Inhalte sowie externen Onlinepräsenzen, wie z.B. unser Social Media Profile auf. (nachfolgend gemeinsam bezeichnet
    als „Onlineangebot“). Im Hinblick auf die verwendeten Begrifflichkeiten, wie z.B. „Verarbeitung“ oder
    „Verantwortlicher“ verweisen wir auf die Definitionen im Art. 4 der Datenschutzgrundverordnung (DSGVO).<br>
    <br>
    <p><strong>Arten der verarbeiteten Daten:</strong></p>
    <p>- Bestandsdaten (z.B., Namen, Adressen).<br>
        - Kontaktdaten (z.B., E-Mail, Telefonnummern).<br>
        - Inhaltsdaten (z.B., Texteingaben, Fotografien, Videos).<br>
        - Nutzungsdaten (z.B., besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).<br>
        - Meta-/Kommunikationsdaten (z.B., Geräte-Informationen, IP-Adressen).<br>
    </p>
    <p><strong>Kategorien betroffener Personen</strong></p>
    <p>Besucher und Nutzer des Onlineangebotes (Nachfolgend bezeichnen wir die betroffenen Personen zusammenfassend auch
        als „Nutzer“).<br>
    </p>
    <p><strong>Zweck der Verarbeitung</strong></p>
    <p>- Zurverfügungstellung des Onlineangebotes, seiner Funktionen und Inhalte.<br>
        - Beantwortung von Kontaktanfragen und Kommunikation mit Nutzern.<br>
        - Sicherheitsmaßnahmen.<br>
        - Reichweitenmessung/Marketing<br>
        <span class="tsmcom"></span></p>
    <p><strong>Verwendete Begrifflichkeiten </strong></p>
    <p>„Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte oder identifizierbare
        natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person
        angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer
        Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem oder mehreren besonderen
        Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen,
        wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.<br>
        <br>
        „Verarbeitung“ ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede solche
        Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden
        Umgang mit Daten.<br>
        <br>
        Als „Verantwortlicher“ wird die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die
        allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten
        entscheidet, bezeichnet.</p>
    <p><strong>Maßgebliche Rechtsgrundlagen</strong></p>
    <p>Nach Maßgabe des Art. 13 DSGVO teilen wir Ihnen die Rechtsgrundlagen unserer Datenverarbeitungen mit. Sofern die
        Rechtsgrundlage in der Datenschutzerklärung nicht genannt wird, gilt Folgendes: Die Rechtsgrundlage für die
        Einholung von Einwilligungen ist Art. 6 Abs. 1 lit. a und Art. 7 DSGVO, die Rechtsgrundlage für die Verarbeitung
        zur Erfüllung unserer Leistungen und Durchführung vertraglicher Maßnahmen sowie Beantwortung von Anfragen ist
        Art. 6 Abs. 1 lit. b DSGVO, die Rechtsgrundlage für die Verarbeitung zur Erfüllung unserer rechtlichen
        Verpflichtungen ist Art. 6 Abs. 1 lit. c DSGVO, und die Rechtsgrundlage für die Verarbeitung zur Wahrung unserer
        berechtigten Interessen ist Art. 6 Abs. 1 lit. f DSGVO. Für den Fall, dass lebenswichtige Interessen der
        betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich
        machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.</p>
    <p><strong></strong></p>
    <p></p>
    <p><strong>Zusammenarbeit mit Auftragsverarbeitern und Dritten</strong></p>
    <p>Sofern wir im Rahmen unserer Verarbeitung Daten gegenüber anderen Personen und Unternehmen (Auftragsverarbeitern
        oder Dritten) offenbaren, sie an diese übermitteln oder ihnen sonst Zugriff auf die Daten gewähren, erfolgt dies
        nur auf Grundlage einer gesetzlichen Erlaubnis (z.B. wenn eine Übermittlung der Daten an Dritte, wie an
        Zahlungsdienstleister, gem. Art. 6 Abs. 1 lit. b DSGVO zur Vertragserfüllung erforderlich ist), Sie eingewilligt
        haben, eine rechtliche Verpflichtung dies vorsieht oder auf Grundlage unserer berechtigten Interessen (z.B. beim
        Einsatz von Beauftragten, Webhostern, etc.). <br>
        <br>
        Sofern wir Dritte mit der Verarbeitung von Daten auf Grundlage eines sog. „Auftragsverarbeitungsvertrages“
        beauftragen, geschieht dies auf Grundlage des Art. 28 DSGVO.</p>
    <p><strong>Übermittlungen in Drittländer</strong></p>
    <p>Sofern wir Daten in einem Drittland (d.h. außerhalb der Europäischen Union (EU) oder des Europäischen
        Wirtschaftsraums (EWR)) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter oder
        Offenlegung, bzw. Übermittlung von Daten an Dritte geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer
        (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder
        auf Grundlage unserer berechtigten Interessen geschieht. Vorbehaltlich gesetzlicher oder vertraglicher
        Erlaubnisse, verarbeiten oder lassen wir die Daten in einem Drittland nur beim Vorliegen der besonderen
        Voraussetzungen der Art. 44 ff. DSGVO verarbeiten. D.h. die Verarbeitung erfolgt z.B. auf Grundlage besonderer
        Garantien, wie der offiziell anerkannten Feststellung eines der EU entsprechenden Datenschutzniveaus (z.B. für
        die USA durch das „Privacy Shield“) oder Beachtung offiziell anerkannter spezieller vertraglicher
        Verpflichtungen (so genannte „Standardvertragsklauseln“).</p>
    <p><strong>Rechte der betroffenen Personen</strong></p>
    <p>Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf
        Auskunft über diese Daten sowie auf weitere Informationen und Kopie der Daten entsprechend Art. 15 DSGVO.<br>
        <br>
        Sie haben entsprechend. Art. 16 DSGVO das Recht, die Vervollständigung der Sie betreffenden Daten oder die
        Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.<br>
        <br>
        Sie haben nach Maßgabe des Art. 17 DSGVO das Recht zu verlangen, dass betreffende Daten unverzüglich gelöscht
        werden, bzw. alternativ nach Maßgabe des Art. 18 DSGVO eine Einschränkung der Verarbeitung der Daten zu
        verlangen.<br>
        <br>
        Sie haben das Recht zu verlangen, dass die Sie betreffenden Daten, die Sie uns bereitgestellt haben nach Maßgabe
        des Art. 20 DSGVO zu erhalten und deren Übermittlung an andere Verantwortliche zu fordern. <br>
        <br>
        Sie haben ferner gem. Art. 77 DSGVO das Recht, eine Beschwerde bei der zuständigen Aufsichtsbehörde
        einzureichen.</p>
    <p><strong>Widerrufsrecht</strong></p>
    <p>Sie haben das Recht, erteilte Einwilligungen gem. Art. 7 Abs. 3 DSGVO mit Wirkung für die Zukunft zu widerrufen
    </p>
    <p><strong>Widerspruchsrecht</strong></p>
    <p>Sie können der künftigen Verarbeitung der Sie betreffenden Daten nach Maßgabe des Art. 21 DSGVO jederzeit
        widersprechen. Der Widerspruch kann insbesondere gegen die Verarbeitung für Zwecke der Direktwerbung erfolgen.
    </p>
    <p><strong>Cookies und Widerspruchsrecht bei Direktwerbung</strong></p>
    <p>Als „Cookies“ werden kleine Dateien bezeichnet, die auf Rechnern der Nutzer gespeichert werden. Innerhalb der
        Cookies können unterschiedliche Angaben gespeichert werden. Ein Cookie dient primär dazu, die Angaben zu einem
        Nutzer (bzw. dem Gerät auf dem das Cookie gespeichert ist) während oder auch nach seinem Besuch innerhalb eines
        Onlineangebotes zu speichern. Als temporäre Cookies, bzw. „Session-Cookies“ oder „transiente Cookies“, werden
        Cookies bezeichnet, die gelöscht werden, nachdem ein Nutzer ein Onlineangebot verlässt und seinen Browser
        schließt. In einem solchen Cookie kann z.B. der Inhalt eines Warenkorbs in einem Onlineshop oder ein Login-Staus
        gespeichert werden. Als „permanent“ oder „persistent“ werden Cookies bezeichnet, die auch nach dem Schließen des
        Browsers gespeichert bleiben. So kann z.B. der Login-Status gespeichert werden, wenn die Nutzer diese nach
        mehreren Tagen aufsuchen. Ebenso können in einem solchen Cookie die Interessen der Nutzer gespeichert werden,
        die für Reichweitenmessung oder Marketingzwecke verwendet werden. Als „Third-Party-Cookie“ werden Cookies
        bezeichnet, die von anderen Anbietern als dem Verantwortlichen, der das Onlineangebot betreibt, angeboten werden
        (andernfalls, wenn es nur dessen Cookies sind spricht man von „First-Party Cookies“).<br>
        <br>
        Wir können temporäre und permanente Cookies einsetzen und klären hierüber im Rahmen unserer Datenschutzerklärung
        auf.<br>
        <br>
        Falls die Nutzer nicht möchten, dass Cookies auf ihrem Rechner gespeichert werden, werden sie gebeten die
        entsprechende Option in den Systemeinstellungen ihres Browsers zu deaktivieren. Gespeicherte Cookies können in
        den Systemeinstellungen des Browsers gelöscht werden. Der Ausschluss von Cookies kann zu
        Funktionseinschränkungen dieses Onlineangebotes führen.<br>
        <br>
        Ein genereller Widerspruch gegen den Einsatz der zu Zwecken des Onlinemarketing eingesetzten Cookies kann bei
        einer Vielzahl der Dienste, vor allem im Fall des Trackings, über die US-amerikanische Seite <a
            href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> oder die EU-Seite <a
            href="http://www.youronlinechoices.com/">http://www.youronlinechoices.com/</a> erklärt werden. Des Weiteren
        kann die Speicherung von Cookies mittels deren Abschaltung in den Einstellungen des Browsers erreicht werden.
        Bitte beachten Sie, dass dann gegebenenfalls nicht alle Funktionen dieses Onlineangebotes genutzt werden können.
    </p>
    <p><strong>Löschung von Daten</strong></p>
    <p>Die von uns verarbeiteten Daten werden nach Maßgabe der Art. 17 und 18 DSGVO gelöscht oder in ihrer Verarbeitung
        eingeschränkt. Sofern nicht im Rahmen dieser Datenschutzerklärung ausdrücklich angegeben, werden die bei uns
        gespeicherten Daten gelöscht, sobald sie für ihre Zweckbestimmung nicht mehr erforderlich sind und der Löschung
        keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Sofern die Daten nicht gelöscht werden, weil sie für
        andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung eingeschränkt. D.h. die Daten
        werden gesperrt und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus handels- oder
        steuerrechtlichen Gründen aufbewahrt werden müssen.<br>
        <br>
        Nach gesetzlichen Vorgaben in Deutschland erfolgt die Aufbewahrung insbesondere für 6 Jahre gemäß § 257 Abs. 1
        HGB (Handelsbücher, Inventare, Eröffnungsbilanzen, Jahresabschlüsse, Handelsbriefe, Buchungsbelege, etc.) sowie
        für 10 Jahre gemäß § 147 Abs. 1 AO (Bücher, Aufzeichnungen, Lageberichte, Buchungsbelege, Handels- und
        Geschäftsbriefe, Für Besteuerung relevante Unterlagen, etc.). <br>
        <br>
        Nach gesetzlichen Vorgaben in Österreich erfolgt die Aufbewahrung insbesondere für 7 J gemäß § 132 Abs. 1 BAO
        (Buchhaltungsunterlagen, Belege/Rechnungen, Konten, Belege, Geschäftspapiere, Aufstellung der Einnahmen und
        Ausgaben, etc.), für 22 Jahre im Zusammenhang mit Grundstücken und für 10 Jahre bei Unterlagen im Zusammenhang
        mit elektronisch erbrachten Leistungen, Telekommunikations-, Rundfunk- und Fernsehleistungen, die an
        Nichtunternehmer in EU-Mitgliedstaaten erbracht werden und für die der Mini-One-Stop-Shop (MOSS) in Anspruch
        genommen wird.</p>
    <p><strong>Hosting</strong></p>
    <p><span class="ts-muster-content">Die von uns in Anspruch genommenen Hosting-Leistungen dienen der
            Zurverfügungstellung der folgenden Leistungen: Infrastruktur- und Plattformdienstleistungen,
            Rechenkapazität, Speicherplatz und Datenbankdienste, Sicherheitsleistungen sowie technische
            Wartungsleistungen, die wir zum Zwecke des Betriebs dieses Onlineangebotes einsetzen. <br>
            <br>
            Hierbei verarbeiten wir, bzw. unser Hostinganbieter Bestandsdaten, Kontaktdaten, Inhaltsdaten,
            Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von Kunden, Interessenten und Besuchern dieses
            Onlineangebotes auf Grundlage unserer berechtigten Interessen an einer effizienten und sicheren
            Zurverfügungstellung dieses Onlineangebotes gem. Art. 6 Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss
            Auftragsverarbeitungsvertrag).</span></p>
    <p><strong>Erhebung von Zugriffsdaten und Logfiles</strong></p>
    <p><span class="ts-muster-content">Wir, bzw. unser Hostinganbieter, erhebt auf Grundlage unserer berechtigten
            Interessen im Sinne des Art. 6 Abs. 1 lit. f. DSGVO Daten über jeden Zugriff auf den Server, auf dem sich
            dieser Dienst befindet (sogenannte Serverlogfiles). Zu den Zugriffsdaten gehören Name der abgerufenen
            Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf,
            Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite),
            IP-Adresse und der anfragende Provider.<br>
            <br>
            Logfile-Informationen werden aus Sicherheitsgründen (z.B. zur Aufklärung von Missbrauchs- oder
            Betrugshandlungen) für die Dauer von maximal 7 Tagen gespeichert und danach gelöscht. Daten, deren weitere
            Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von
            der Löschung ausgenommen.</span></p>
    <p><strong>Registrierfunktion</strong></p>
    <p><span class="ts-muster-content">Nutzer können optional ein Nutzerkonto anlegen. Im Rahmen der Registrierung
            werden die erforderlichen Pflichtangaben den Nutzern mitgeteilt. Die im Rahmen der Registrierung
            eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes verwendet. Die Nutzer können über
            angebots- oder registrierungsrelevante Informationen, wie Änderungen des Angebotsumfangs oder technische
            Umstände per E-Mail informiert werden. Wenn Nutzer ihr Nutzerkonto gekündigt haben, werden deren Daten im
            Hinblick auf das Nutzerkonto gelöscht, vorbehaltlich deren Aufbewahrung ist aus handels- oder
            steuerrechtlichen Gründen entspr. Art. 6 Abs. 1 lit. c DSGVO notwendig. Es obliegt den Nutzern, ihre Daten
            bei erfolgter Kündigung vor dem Vertragsende zu sichern. Wir sind berechtigt, sämtliche während der
            Vertragsdauer gespeicherten Daten des Nutzers unwiederbringlich zu löschen.<br>
            <br>
            <br>
            Im Rahmen der Inanspruchnahme unserer Regsitrierungs- und Anmeldefunktionen sowie der Nutzung der
            Nutzerkontos, speichern wird die IP-Adresse und den Zeitpunkt der jeweiligen Nutzerhandlung. Die Speicherung
            erfolgt auf Grundlage unserer berechtigten Interessen, als auch der Nutzer an Schutz vor Missbrauch und
            sonstiger unbefugter Nutzung. Eine Weitergabe dieser Daten an Dritte erfolgt grundsätzlich nicht, außer sie
            ist zur Verfolgung unserer Ansprüche erforderlich oder es besteht hierzu besteht eine gesetzliche
            Verpflichtung gem. Art. 6 Abs. 1 lit. c DSGVO. Die IP-Adressen werden spätestens nach 7 Tagen anonymisiert
            oder gelöscht.</span></p>
    <p><strong>Kontaktaufnahme</strong></p>
    <p><span class="ts-muster-content">Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder
            via sozialer Medien) werden die Angaben des Nutzers zur Bearbeitung der Kontaktanfrage und deren Abwicklung
            gem. Art. 6 Abs. 1 lit. b) DSGVO verarbeitet. Die Angaben der Nutzer können in einem
            Customer-Relationship-Management System ("CRM System") oder vergleichbarer Anfragenorganisation gespeichert
            werden.<br>
            <br>
            Wir löschen die Anfragen, sofern diese nicht mehr erforderlich sind. Wir überprüfen die Erforderlichkeit
            alle zwei Jahre; Ferner gelten die gesetzlichen Archivierungspflichten.</span></p>
    <p><strong>Google Fonts</strong></p>
    <p><span class="ts-muster-content">Wir binden die Schriftarten ("Google Fonts") des Anbieters Google LLC, 1600
            Amphitheatre Parkway, Mountain View, CA 94043, USA, ein. Datenschutzerklärung: <a
                href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>, Opt-Out:
            <a
                href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>.</span>
    </p><a href="https://datenschutz-generator.de" class="dsg1-5">Erstellt mit Datenschutz-Generator.de von RA Dr.
        Thomas Schwenke</a>
</div>