doctype html
html
  head
    title Anchr.io - An error has occured
    link(rel='stylesheet', href='/data/server.css')
  body
    div(class='header')
    div(class='container')
      div(class='inner')
        span Sorry, an
        span(class='status')= status
        span  error has occured :-(
        div= message
      div
        img(src='/images/logo.png' class='logo')
      a(href='/') &rarr; Proceed to Anchr.io



